.ipynb_checkpoints
.idea
.cache
.fltk
Scripts/cpp/mesh-workflow-new/build/CMakeFiles/
Submodules/dolfinx/cpp/build/cmake/
Submodules/dolfinx/cpp/build/CMakeFiles/
Submodules/dolfinx/cpp/build/demo/
Submodules/dolfinx/cpp/build/dolfin/
Submodules/dolfinx/cpp/build/test/
Submodules/dolfinx/cpp/test/
Submodules/dolfinx/cpp/demo/poisson/poisson.c
Submodules/dolfinx/cpp/demo/
Submodules/dolfinx/python/build/
