Compiled source
*.o
*.Plo
*.Po
*.lo
*.la
*.a
*.os
*.pyc
*.so
*.pc
*.pyd
*.def
*.dll
*.exe
*.dylib
*.nbi
*.nbc
dolfin/libdolfin.so*

# Log files
*.log

# Install directory
/cpp/local
/cpp/local.*


# Configuration files
dolfin.conf
dolfin-version
dolfin-config.cmake
DOLFINConfig.cmake
DOLFINConfigVersion.cmake
UseDOLFIN.cmake
dolfin-config-version.cmake

.cache

.ipynb_checkpoints
.idea
.fltk

# Temporaries
*~

# Compressed files
*.xz
*.gz
*.zs-old

# Local build files
/cpp/build
/cpp/build.*/

# OS X files
.DS_Store
.DS_Store?

# Eclipse files
.*project
.settings

cmake.local

build/

.vscode
*.egg-info
.pytest_cache
.bash_history
.local/
.ipython/
.jupyter/
Scripts/cpp/xdmf/cmake-build-debug/
